@import '../pages.scss';

$user-icon-width: 40px;
$user-icon-height: 40px;

$object-thumb-width: 112px;
$object-thumb-height: 63px;

@mixin bnr-aspect-ratio-retaining-img {
    object-fit: contain;
    object-position: center;
    background-color: gray;
    border-radius: 4px;
}

.bnr-loading-progress {
    width: 5rem;

    /* Center it vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bnr-transparent {
    opacity: 0;
}
.bnr-fast-fade-in {
    opacity: 1;
    transition: opacity 100ms;
}
.bnr-fast-fade-out {
    opacity: 0;
    transition: opacity 100ms;
}

.bnr-report {
    padding-top: 1rem;
    overflow-y: auto;
    @include bnr-default-anchor($text-decoration: none);
}

/* TODO: These should be customizable, i.e. these styles should be
   dynamically generated and applied. */
.card {
    &.bnr-activity-advertise {
        background-color: hsl(158,100,95);
    }
    &.bnr-activity-reserve-broadcast {
        background-color: hsl(25,100,96);
        .bnr-report-title {
            color: hsl(25, 60, 51);
        }
    }
    &.bnr-activity-broadcast {
        background-color: hsl(25,100,91);
        .bnr-report-title {
            color: hsl(25, 60, 46);
            font-weight: bold;
        }
    }
    &.bnr-activity-like {
        background-color: hsl(102,100,95);
    }
    &.bnr-activity-list {
        background-color: hsl(64,100,95);
    }
    &.bnr-activity-upload {
        background-color: hsl(0, 100, 91);
        .bnr-report-title {
            color: hsl(0, 60, 46);
            font-weight: bold;
        }
    }
}

.bnr-user-icon {
    width: $user-icon-width;
    height: $user-icon-height;
    @include bnr-aspect-ratio-retaining-img;
}

.bnr-report-body {
    padding-left: calc(#{$user-icon-width} + 0.4em);
}

.bnr-report-title {
    font-size: 85%;
}

.bnr-object-thumb {
    width: $object-thumb-width;
    height: $object-thumb-height;
    @include bnr-aspect-ratio-retaining-img;
}

.bnr-object-details {
    margin-left: 0.9em;
}

.bnr-object-type {
    color: white;
    background-color: black;
    padding: 4px 12px;
    border-radius: 2px;
    font-size: 80%;
}
