$user-icon-width: 40px;
$user-icon-height: 40px;

$object-thumb-width: 112px;
$object-thumb-height: 63px;

@mixin bnr-aspect-ratio-retaining-img {
    object-fit: contain;
    object-position: center;
    background-color: gray;
    border-radius: 4px;
}

.bnr-loading-progress {
    width: 5rem;

    /* Center it vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bnr-reports {
    padding-top: 1rem;
    overflow-y: auto;

    a {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: gray;
    }
}

.bnr-user-icon {
    width: $user-icon-width;
    height: $user-icon-height;
    @include bnr-aspect-ratio-retaining-img;
}

.bnr-report-body {
    padding-left: calc(#{$user-icon-width} + 0.4em);
}

.bnr-report-title {
    font-size: 85%;
}

.bnr-object-thumb {
    width: $object-thumb-width;
    height: $object-thumb-height;
    @include bnr-aspect-ratio-retaining-img;
}

.bnr-object-details {
    margin-left: 0.9em;
}

.bnr-object-type {
    color: white;
    background-color: black;
    padding: 4px 12px;
    border-radius: 2px;
    font-size: 80%;
}
