@import "~foundation-sites/scss/util/util";

$dropdownmenu-arrows: false;
$topbar-padding: 0.1rem !default;
$progress-margin-bottom: 0 !default;

.menu a {
    cursor: pointer;
}
.menu li:hover {
    @extend .is-active;
}
