@import "~foundation-sites/scss/util/util";

/* Foundation */
$dropdownmenu-arrows: false;
$topbar-padding: 0.1rem;
$progress-margin-bottom: 0;

h1 {
    font-size: 1.5em !important;
}

.menu {
    a {
        cursor: pointer;
    }
    li:hover {
        @extend .is-active;
    }
}
.top-bar .menu {
    .fi {
        font-size: 150%;
    }
}

/* Motion UI */
$motion-ui-speeds: (
    default: 250ms,
    slow: 500ms,
    fast: 125ms
);
