@import '../pages.scss';

#bnr-edit-filter-set {
    height: 90vh;

    & > .grid-y, .bnr-table-container {
        height: 100%;
    }

    .vertical.menu {
        li {
            margin-bottom: 3px;
            button {
                width: 100%;
            }
        }
    }

    table.bnr-rule-list {
        /* Anchors */
        @include bnr-default-anchor;

        /* Columns */
        .bnr-num-fired {
            width: 5em;
        }
        .bnr-last-fired {
            width: 13em;
        }

        /* Hover */
        tbody tr {
            &:hover {
                background-color: $table-row-hover;
            }
        }

        /* Selected row */
        $selected-color: scale-color(get-color(primary), $lightness: 70%);
        $selected-hover: darken($selected-color, $table-hover-scale);
        .bnr-selected {
            background-color: $selected-color;

            &:hover {
                background-color: $selected-hover;
            }
        }
    }

    .bnr-any {
        color: hsl(0, 60%, 46%);
        font-weight: bold;
    }
}
